* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sanserif';
}

:root {
    --color-oscuro1: #072146;
    --color-azul: #004481;
    --color-azul-turquesa: #05e7e7;
    --color-texto: #ffffff;
    --color-gris-claro-1: #bbbbbb;
    --color-gris-claro-2: #f4f4f4;
}

html {
    overflow-x: hidden;
}

body {
    color: #fff;
}

section {
    min-height: 100vh;
    padding: 8rem 9% 2rem;
    /* background: rgb(7, 33, 70);
    background: -moz-linear-gradient(180deg, rgba(7, 33, 70, 1) 11%, rgba(3, 54, 107, 1) 49%);
    background: -webkit-linear-gradient(180deg, rgba(7, 33, 70, 1) 11%, rgba(3, 54, 107, 1) 49%);
    background: linear-gradient(180deg, rgba(7, 33, 70, 1) 11%, rgba(3, 54, 107, 1) 49%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#072146", endColorstr="#03366b", GradientType=1);*/
}


/*------------Header--------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--color-oscuro1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    -webkit-box-shadow: -1px 1px 25px 0px rgba(163, 163, 163, 0.67);
    -moz-box-shadow: -1px 1px 25px 0px rgba(163, 163, 163, 0.67);
    box-shadow: -1px 1px 25px 0px rgba(163, 163, 163, 0.07);
}
.header .sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2)
}
.navbar__menu a {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.637);
    margin-left: 3rem;
    transition: .3s;
}

.navbar__menu a:hover,
.navbar__menu a.color__activado {
    color: var(--color-texto);
}

#icono__menu {
    font-size: 30px;
    color: var(--color-texto);
    display: none;
}

.header__logo {
    height: 30px;
}


/*-------------------------------------------------*/
/*                    Inicio                    */
.inicio {
    display: flex;
    background: var(--color-azul);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenido__inicio h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.contenido__inicio h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.contenido__inicio p {
    font-size: 18px;
    text-align: justify;
    margin: 20px 0;
}

.contenido__inicio span {
    color: var(--color-azul-turquesa);
}

.inicio__img img {
    width: 500px;
}

.inicio__boton {
    display: block;
    padding: 10px 40px;
    border-radius: 25px;
    background-color: #05e7e7;
    color: var(--color-oscuro1);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.inicio__boton:hover {
    -webkit-box-shadow: -1px -1px 30px 6px rgba(0, 95, 126, 1);
    -moz-box-shadow: -1px -1px 30px 6px rgba(0, 95, 126, 1);
    box-shadow: -1px -1px 30px 6px rgba(0, 95, 126, 1);
    transition: all .3s;
}

.icono {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    color: var(--color-azul-turquesa);
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid var(--color-azul-turquesa);
    margin: 2rem 1.5rem 2rem 0;
}

.icono:hover {
    -webkit-box-shadow: -1px -1px 30px 6px rgba(0, 95, 126, 1);
    -moz-box-shadow: -1px -1px 30px 6px rgba(0, 95, 126, 1);
    box-shadow: -1px -1px 30px 6px rgba(0, 95, 126, 1);
    transition: all .3s;
}

/*---------------------Sobre mi----------------------------*/

.sobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--color-texto);
    padding-bottom: 6rem;
}



.sobremi__titulo {
    font-size: 3rem;
    text-align: center;
    color: var(--color-oscuro1);
}

.sobremi__img {
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobremi__img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--color-azul-turquesa);
}

.sobremi p {
    color: var(--color-oscuro1);
    font-size: 18px;
    margin-bottom: 15px;
}

.sobremi__img .circulo__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--color-texto);
    border-bottom: .2rem solid var(--color-texto);
    border-left: .2rem solid var(--color-oscuro1);
    border-right: .2rem solid var(--color-oscuro1);
}

.contenido__sobremi {
    text-align: center;
}

.contenido__sobremi {
    font-size: 2rem;
    color: var(--color-oscuro2);
}
.contenido__sobremi h3{
    color: var(--color-oscuro1);
}

.sobremi__boton {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 25px;
    background-color: #05e7e7;
    color: var(--color-oscuro1);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.sobremi__boton:hover {
    -webkit-box-shadow: -1px -1px 30px 6px rgba(0, 95, 126, 1);
    -moz-box-shadow: -1px -1px 30px 6px rgba(0, 95, 126, 1);
    box-shadow: -1px -1px 30px 6px rgba(0, 95, 126, 1);
    transition: all .3s;
}

/*---------------- Mis Skills-----------------------*/
.skills {
    overflow: hidden;
    height: 100vh;
    background: var(--color-gris-claro-2);
}

.skills .carousel {
    width: 300px;
    margin: 0px auto 0;
    overflow: visible;
}

.carousel img {
    -webkit-box-reflect: below 20px linear-gradient(rgba(255, 255, 255, 0.1), rgba(178, 175, 175, 0.3));

}

.skills .carousel h2 {
    color: var(--color-oscuro1);
}


/*---------------- Mis Hobbies-----------------------*/
.hobbies {
    display: grid;
    justify-content: center;
    background: var(--color-azul);
    text-align: center;
}
.container__hobbies{
    position: relative;
    display: grid;
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.hobbies__titulo{
    font-size: 3rem;
    margin-bottom: 5rem;
}
.container__hobbies .hobbies__cards {
    position: relative;
    max-width: 300px;
    height: 150px;
    background:var(--color-texto);
    margin: 20px 10px;
    padding: 20px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
   
}
.container__hobbies .hobbies__cards:hover{
    height: 250px;
}

.container__hobbies .hobbies__cards .hobbies__cards_img {
    position: relative;
    width: 260px;
    height: 260px;
    top: -100px;
    z-index: 1;
}

.container__hobbies .hobbies__cards .hobbies__cards_img  img {
    max-width: 100%;
}
.container__hobbies .hobbies__cards .hobbies__cards_detalle{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: var(--color-oscuro1);
    font-family: poppins;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.container__hobbies .hobbies__cards:hover .hobbies__cards_detalle {
    visibility: visible;
    color: var(--color-oscuro1);
    opacity: 1;
    margin-top: -50;
}

/*----------------Educación-----------------------*/
.educacion{
    color: var(--color-oscuro1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.educacion .educacion__titulo{
    font-size:3rem ;
    text-align: center;
}
.educacion .educacion__fila{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.educacion__fila .educacion__columna{
    flex: 1 1 20rem;
}
.educacion__columna .edu__titulo{
    font-size: 1.5rem;
    margin: 0 0 1.5rem 2rem;
}
.educacion__box .educacion__contenido{
    position: relative;
    padding-left: 2rem;
}
.educacion__contenido .contenido__info{
    padding: 1.5rem;
    border:.2rem solid var(--color-azul);
    border-radius: .6rem;
    margin-bottom: 2rem;
}

/*---------------- proyectos -----------------------*/
.proyectos{
    background: var(--color-gris-claro-2);
    text-align: center;
    padding-bottom: 5rem;
}
.proyectos h2{
    margin: 2rem;
    text-align: center;
    color:var(--color-oscuro1);
    font-size: 3rem;
}
.proyectos__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    
}
.proyectos__container .proyectos__box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--color-azul);
    overflow: hidden;
    display: flex;
}
.proyectos__box img{
    width: 100%;
}
.proyectos__box:hover img{
    transform: scale(1.1);
    transition: .5s ease;
}
.proyectos__box .detalle__proyecto{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--color-azul));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;  
    transform:translateY(100%) ;
    transition: .5s ease;
}
.proyectos__box:hover .detalle__proyecto{
    transform:translateY(0);
    
}
.detalle__proyecto h4 {
    font-size: 1.5rem;
    text-align: center;
}
.detalle__proyecto p{
    font-size: 18px;
    margin: .3rem 0 1rem;
    text-align: center;
}
.detalle__proyecto a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background: var(--color-texto);
    border-radius: 50%;

}
/*---------------- Contacto -----------------------*/

.contacto{
    background: var(--color-azul);
    height: 90%;
}
.contacto h2{
    margin-bottom: 3rem;
    text-align: center;
    color:var(--color-gris-claro-2);
    font-size: 3rem;
}
.contacto form{
    max-width:50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
} 
.contacto form .box__input{
   display: flex;
   justify-content:space-between;
   flex-wrap: wrap;
}
.contacto form .box__input input,
.contacto form textarea{
    width: 100%;
    padding: 1.4rem;
    font-size: 1rem;
    color: var(--color-oscuro1);
    background: var(--color-gris-claro-2);
    border-radius: .8rem;
    margin: .7rem 0;

}
.contacto form .box__input input{
    width: 49%;
}
.contacto form textarea{
    resize:none;
}
.contacto form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
#shadow-host-companion{
    display: none;
}
/*******************Footer*******************/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--color-oscuro1);
    height: 10%;
}
.footer-texto p{
    font-size: 18px;
}
.footer-texto a{
    color: var(--color-azul-turquesa);
}
.iconoflecha__link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--color-azul-turquesa);
    border-radius: .8rem;
}
.iconoflecha a i{
    font-size: 18px;
    color: var(--color-azul);
}
/*Puntos de quiebres o breckpoints*/
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width:768px){
   #icono__menu{
    display: block;
   }
   .navbar__menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--color-oscuro1);
    border-top: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
   }
   .navbar__menu a{
    display: block;
    font-size:2rem ;
    margin: 3rem 0;
   }
}